# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'mobile_app/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - 'mobile_app/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore SmartHotel.sln
    - name: Build
      run: dotnet build SmartHotel.sln --no-restore
    - name: Test
      run: dotnet test SmartHotel.sln --no-build --verbosity normal
